.body {
    background-image: linear-gradient(white 70%, #bfbfbf9f, #6D9FFF);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
    background-image: url(/img/bege-alt.jpg);
    background-position: center;
}