.body {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	backdrop-filter: blur(20px);
  	background-color: #9EC8B9;
}

.container {
	z-index: 11;
	padding: 10px;
}

.card {
	background-color: rgb(255, 217, 0);
	max-height: 270px;
	min-height: 270px;
	height: 270px;
	min-width: 220px;
	max-width: 220px;
	width: 220px;
	border-radius: 5px;
	overflow-y: scroll;
	padding: 20px;
	margin: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	display: inline-block;
	width: 200px;
	height: auto;
	text-align: center;
	transition: transform 0.2s;
    font-family: poppins, sans-serif;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card h3 {
	font-size: 24px;
	border: 5px solid rgb(255, 156, 7);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgb(255, 255, 255);
	border-radius: 5px;
	color:rgb(255, 154, 22);
	margin-bottom: 20px;
}

.card ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.card li {
	font-size: 15px;
	color: rgba(187, 44, 44, 0.774);
  	text-decoration: underline;
	margin-bottom: 10px;
}