@font-face {
  font-family: 'The Augusta';
  src: url(/fonts/The\ Augusta.otf)
}

.body {
  background-image: linear-gradient(white 70%, #bfbfbf9f, #6D9FFF);
  background-repeat: no-repeat;
}

#nav h1 {
  text-shadow: 0 4px rgba(0,0,0, 0.25);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);;
}

#nav #profile-icon svg:hover {
  animation: spin-button-in .8s;
}

.nav-unhover {
  animation: spin-button-out .8s;
}

.blur {
  backdrop-filter: blur(1px);
  background-image: url(/img/bege.jpg);
  background-size: cover;
  height: 100vw;
  /* background-color: #9EC8B9; */
}

@keyframes spin-button-in {
  0% {
      transform: rotate(0);
      /* animation-timing-function:cubic-bezier(0.215, 0.055, 0.675, 0.19); */
  }
  /* 50% {
      transform: rotate(90deg);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  } */
  100% {
      transform: rotate(120deg);
  }
}

@keyframes spin-button-out {
  0% {
      transform: rotate(0);
      /* animation-timing-function:cubic-bezier(0.215, 0.055, 0.675, 0.19); */
  }
  /* 50% {
      transform: rotate(90deg);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  } */
  100% {
      transform: rotate(-120deg);
  }
}

.nav {
  /* position: relative;
  z-index: 12; */
}